* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    background: #eee;
    align-self: center;
}

#myCanvas {
    width: 480px;
    height: 320px;
}